form{
    width: 50%;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

.phone-group .phone-inputs {
    display: flex;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#countryCode{
    width: 100px;
}

input[type="text"],
input[type="tel"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#username {
    width: 500px;
}

#countryCode {
    width: 100px;
}

#number {
    width: 388px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
